#? https://blog.stephane-robert.info/docs/infra-as-code/gestion-de-configuration/ansible/ecrire-code/structure-projet/#ansiblecfg
#? lien pour la structure standard et conventions 2026

[defaults]
inventory = ./inventory/inventory.ini
private_key_file = ~/.ssh/id_ed25519

# use 'ansible all -m ping' with this file to ping the servers in "inventory.ini"
# without the file we use  the cmd 'ansible all --key-file ~/.ssh/... -i inventory.ini -m ping'
# 'ansible all --list-host' make a list of all the host
# 'ansible all -m gather_facts' ==> give somme information about the server

# prioritaire a : '~/.ansible.cfg' ou '/etc/ansible/ansible.cfg'